<component name="libraryTable">
  <library name="logback-classic-1.0.13">
    <CLASSES>
      <root url="jar://$USER_HOME$/Desktop/Machine Learning and Deep Learning/using neuroph/neuroph-2.94/libs/logback-classic-1.0.13.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>